.Bar{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    margin: 0 auto;
}

#my-chart{
    height: 32px;
    width: 313px;

    overflow-wrap: anywhere;
}

#program{
    background-color: rgba(78, 77, 112, 1);
    border-radius: 12px 0 0 12px;
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
}

#admin{
    background-color: rgba(42, 41, 60, 1);
    border-radius: 0 12px 12px 0;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
}