$dark: #2A293C;
$turquoise: #8CDDEA;
$purple: #723A58;
//$bubbleGradient: #8CDDEA-#723A58;
//$bubbleGradientReverse: #723A58-#8CDDEA;
$success: #93F09C;
$vipps: #FF5C24;
//$form: #000000 50%;
$overlay: #E0D0FB;
