@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
$navbar-item-color: #2a293c;
$family-primary: "Montserrat";
$family-secondary: "Yeseva One";
@import "../node_modules/bulma/bulma.sass";

